@{
    ViewData["Title"] = "Home Page";
    //Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>BelajarCSS</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.bootstrap4.min.css" />
    <link href="~/css/belajarcss.css" rel="stylesheet" />
</head>
<body>
    <!-- Grid -->
    <div class="container">
        <div class="row">
            <div class="col" onclick="ubahB1K2()">Baris 1 Kolom 1</div>
            <div class="col">Baris 1 Kolom 2</div>
        </div>
        <div class="row">
            <div class="col">Baris 2 Kolom 1</div>
            <div class="col">Baris 2 Kolom 2</div>
        </div>
        <div class="row">
            <div class="col"><button type="button" class="btn btn-primary btn-lg" onclick="btnPrimary()">Baris 3 Kolom 1</button></div>
            <div class="col">Baris 3 Kolom 2</div>
        </div>
        <div class="row">
            <div class="col"><button type="button" class="btn btn-secondary btn-lg" onclick="btnSec()">Baris 4 Kolom 1</button></div>
            <div class="col">Baris 4 Kolom 2</div>
        </div>
        <div class="row">
            <div class="col"><button type="button" class="btn btn-success btn-lg">Baris 4 Kolom 1</button></div>
            <div class="col">Baris 4 Kolom 2</div>
        </div>
    </div>
    <!-- Grid -->
    <!-- Table 1 -->
    @*<div class="container">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="tbtitle" scope="col" colspan="6">Starwars List</th>
                    </tr>
                    <tr>
                        <th scope="col">NO</th>
                        <th scope="col">Name</th>
                        <th scope="col">Height</th>
                        <th scope="col">Mass</th>
                        <th scope="col">Gender</th>
                        <th scope="col">Film Instance</th>
                    </tr>
                </thead>
                <tbody id="listStarwars">
                </tbody>
            </table>
        </div>*@
    <!-- Table 1 -->
    <!-- Table 2 -->
    <div class="container">
        <table class="table" id="tablePokemon">
            <thead class="thead-dark">
                <tr>
                    <th class="tbtitle" scope="col" colspan="6">Pokemon List</th>
                </tr>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">URL</th>
                </tr>
            </thead>
            <tbody id="listPokemon">
            </tbody>
        </table>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="examplePokemon" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Detail</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="modal-pokemon"class="modal-body text-center">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Table 2 -->
</body>
</html>
@section Scripts {
    <script type="text/javascript" src="~/js/belajarArray.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/rowreorder/1.2.8/js/dataTables.rowReorder.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/dataTables.jqueryui.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/responsive/2.2.9/js/responsive.jqueryui.min.js"></script>
}